%div{:id => "#{dom_id(conversation)}_message_form"}
  = form_with(model: Message.new, url: [conversation, conversation.messages.new]) do |f|
    .input-group.mb-3
      %input{:name => "format", :type => "hidden", :value => "turbo_stream"}/
      = f.text_field :body, placeholder: "type message", class: "form-control"
      = f.submit 'message', class: 'btn btn-primary'
